<app-header />
<article class="py-12">
  <div class="flex items-center justify-center pt-[68px]">
    <h2 class="font-extrabold text-3xl tracking-wide text-center max-md:text-4xl max-md:mr-2 text-darkPinkText">
      Adopción</h2>
  </div>

  <section class="pt-10 grid grid-cols-4 gap-5 place-items-center mx-28 max-sm:grid-cols-1 max-sm:mx-0">
    @for (cat of catsAvailable; track cat.id) {
    <app-adoption-card [nameCat]="cat.nameCat" [imageCat]="cat.imageCat" [sexCat_id]="cat.sexCat_id" [ageCat]="cat.ageCat"
      [weightCat]="cat.weightCat" />
    }
  </section>

</article>
