<footer class="bg-[#FDF3F9] border border-y-darkPinkText border-y-2">

  <section class="grid grid-cols-3 text-center max-md:grid-cols-1 max-md:gap-5 place-items-center py-5">
    <article>
      <h2 class="text-darkPinkText text-lg">Desarrollado por:</h2>
      <h1 class="text-darkPinkText text-xl font-bold">Paula Andrea Sanchez Torres</h1>
    </article>
    <article>
      <h3 class="text-darkPinkText text-2xl font-bold text-center pb-3">¡PurrMinder:
        <br> Adopción Felina!
      </h3>
      <h3 class="text-darkPinkText text-lg">Proyecto para optar por el título de Tec. en Sistematización de Datos,
        enfocado
        en fomentar la adopción felina en Bogotá
        y ayudar a hogares de paso en los procesos de adopción.</h3>
    </article>
    <div class="grid grid-cols-2 place-content-center items-center justify-items-center gap-3 px-36 max-md:px-0">
      <button type="button" class="hover:drop-shadow-darkPinkText">
        <a target="_blank" href="https://www.linkedin.com/in/paula-andrea-sanchez-torres/"><img class="w-9"
            src="/svg/linkedin.svg" alt=""></a>
      </button>
      <button type="button" class="hover:drop-shadow-darkPinkText">
        <a target="_blank" href="https://github.com/PauSanchezzz/PurrMinder-Angular">
          <img class="w-8" src="/svg/github.svg" alt="">
        </a>
      </button>
    </div>
  </section>
</footer>
