<form [formGroup]="deathRegisterForm" (ngSubmit)="onSubmit()" class="flex flex-col justify-center items-center">
  <section class="grid grid-cols-2  max-sm:grid-cols-1 max-sm:mx-0 w-screen px-40">
    <section class="grid gap-5 mr-16 max-sm:mx-5">
      <section class="flex items-center space-x-2">
        <p class="titleFormCatRegister max-sm:text-start">Felino:</p>
        <div class="flex-1">
          <select id="cat_id" formControlName="cat_id"
            class="text-center bg-gray-50 border border-pink-900 text-lg rounded-2xl focus:outline-none focus:ring focus:ring-pink-100 p-[6px] w-full">
            <option selected>Seleccione</option>
            <option value="1">opc 1</option>
          </select>
          @if(deathRegisterForm.get('cat_id')?.hasError('required') &&
          deathRegisterForm.get('cat_id')?.touched){
          <div class="form-error text-red-600 font-medium flex text-center  justify-center">Oops! Felino requerido.
          </div>
          }
        </div>
      </section>
      <section class="flex items-center space-x-2">
        <p class="titleFormCatRegister max-sm:text-start">Fecha:</p>
        <div class="flex-1">
          <input type="date" id="dateOfDeath" formControlName="dateOfDeath" class=" inputStyle" required />
          @if(deathRegisterForm.get('dateOfDeath')?.hasError('required') &&
          deathRegisterForm.get('dateOfDeath')?.touched){
          <div class="form-error text-red-600 font-medium flex text-center  justify-center">Oops! Fecha requerida.
          </div>
          }
        </div>
      </section>
      <section class="flex items-center space-x-2">
        <p class="titleFormCatRegister max-sm:text-start">Motivo del suceso:</p>
        <div class="flex-1">
          <select id="reasonOfDeath_id" formControlName="reasonOfDeath_id"
            class="text-center bg-gray-50 border border-pink-900 text-lg rounded-2xl focus:outline-none focus:ring focus:ring-pink-100 p-[6px] w-full">
            <option selected>Seleccione</option>
            <option value="1">opc 1</option>
          </select>
          @if(deathRegisterForm.get('reasonOfDeath_id')?.hasError('required') &&
          deathRegisterForm.get('reasonOfDeath_id')?.touched){
          <div class="form-error text-red-600 font-medium flex text-center  justify-center">Oops! Motivo requerido.
          </div>
          }
        </div>
      </section>
    </section>
    <section class="grid mr-16 max-sm:mx-5">
      <section class="flex items-center space-x-2 ">
        <p class="titleFormCatRegister max-sm:text-start">Costos asociados:</p>
        <div class="flex-1">
          <input
            class="bg-gray-50 border border-pink-900 text-lg rounded-2xl p-[6px] focus:outline-none focus:ring focus:ring-pink-100 text-center w-full"
            type="text" id="associatedCosts" formControlName="associatedCosts" placeholder="123.456" required />
          @if(deathRegisterForm.get('associatedCosts')?.hasError('required') &&
          deathRegisterForm.get('associatedCosts')?.touched){
          <div class="form-error text-red-600 font-medium flex text-center  justify-center">Oops! Campo requerido.
          </div>
          }
        </div>
      </section>
      <section class="flex items-center space-x-2">
        <p class="titleFormCatRegister max-sm:text-start">Comentarios adicionales:</p>
        <div class="flex-1">
          <textarea
            class="caret-pink-800 bg-gray-50 border border-pink-900 text-lg rounded-2xl focus:outline-none focus:ring focus:ring-pink-100 p-[6px] w-full"
            name="comments" id="comments" formControlName="comments"></textarea>
          @if(deathRegisterForm.get('comments')?.hasError('required') &&
          deathRegisterForm.get('comments')?.touched){
          <div class="form-error text-red-600 font-medium flex text-center  justify-center">Oops! campo requerido.
          </div>
          }
        </div>
      </section>
    </section>
  </section>
  <button type="submit"
    class="mt-16 max-sm:my-5 bg-lightPinkSecond border-2 border-lightPink py-2 px-8 rounded-lg font-bold text-darkPinkText hover:bg-lightPink hover:border-darkPinkText hover:text-white transition ease-in-out delay-150 hover:-translate-y-1">
    Guardar
  </button>
</form>
