<header class="header justify-between grid grid-cols-2 ">

  <div class="flex justify-between md:gap-60 max-md:gap-8 -order-2 max-md:order-1 ">

    <div class="grid  gap-3  max-md:px-0">
      <button type="button"
        class=" text-darkPinkText bg-[#F4BBD8] hover:bg-lightPinkSecond hover:text-background text-base font-medium rounded-lg px-4 py-2 text-center border border-[#F4BBD8]">Iniciar
        Sesión / Registrarse</button>
    </div>

    <div class="flex items-center -order-1 max-md:order-1">

      <input type="checkbox" id="check">
      <label for="check" class="icons">
        <i class='bx bx-menu' id="menu-icon"></i>
        <i class='bx bx-x' id="close-icon"></i>
      </label>

      <nav class="navbar">
        <ul class="font-medium md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 text-[17px]  text-darkPinkText">
          <a href="/"
            class="py-2 px-3 hover:bg-lightPinkSecond hover:rounded-lg hover:underline hover:decoration-2 hover:decoration-lightPink">Inicio</a>
          <a href="/#information"
            class="py-2 px-3 hover:bg-lightPinkSecond hover:rounded-lg hover:underline hover:decoration-2 hover:decoration-lightPink">Información</a>
          <a href="/#home"
            class="py-2 px-3 hover:bg-lightPinkSecond hover:rounded-lg hover:underline hover:decoration-2 hover:decoration-lightPink">Adopciones</a>
          <a href="/recomendations/"
            class="py-2 px-3 hover:bg-lightPinkSecond hover:rounded-lg hover:underline hover:decoration-2 hover:decoration-lightPink">Recomendaciones</a>
          <a href="/#home"
            class="py-2 px-3 hover:bg-lightPinkSecond hover:rounded-lg hover:underline hover:decoration-2 hover:decoration-lightPink">Adoptados</a>
        </ul>
      </nav>
    </div>
  </div>
</header>
