@if (filteredRecommendations) {
<div
  [ngClass]="['z-30', 'absolute', 'top-1/2', 'left-1/2', 'transform', '-translate-x-1/2', '-translate-y-1/2',modal.widthModal, 'rounded-[26px]', modal.modalColor, 'border-[1px]',modal.borderModalColor,'p-7']">

  <div class="flex justify-center items-center">
    <img class="w-72 h-72" [src]="modal.imageModal" alt="">
    <div class="flex flex-col justify-center items-center text-center gap-3">
      <h2
        [ngClass]="['p-4', modal.lightColorContainerText, 'border-2', modal.darkColorContainerText, 'rounded-full', modal.widthTitle, 'font-bold', 'text-center']">
        {{modal.titleRecomendation}}</h2>

      <div class="grid grid-cols-2 items-center gap-3">
        @for (recomendation of filteredRecommendations; track $index) {
        <app-text-recomendations [lightColorContainerText]="modal.lightColorContainerText"
          [darkColorContainerText]="modal.darkColorContainerText"
          [textRecomendation]="recomendation.textRecomendation" />
        }

      </div>
    </div>
  </div>


  <button (click)="close()">
    <div class="z-40 absolute  rounded-full bg-[#FDC6C6] -top-4 -right-4 flex justify-center items-center">
      <img class="w-14 h-14" src="/svg/close.svg" alt="">
    </div>
  </button>
</div>
<div
  [ngClass]="['w-auto', 'h-auto', modal.backgroundModalColor , 'backdrop-blur-sm', 'absolute', 'left-0', 'right-0', 'top-0', 'bottom-0', 'z-20', 'flex', 'justify-center', 'items-center']"
  (click)="close()">
</div>
}
