<app-header />
<div class="absolute bottom-0">
  <img class="w-screen" src="./svg/wave.svg" alt="">
</div>

<article class="h-full pb-32 grid grid-cols-2 place-content-center px-52 text-center max-sm:grid-cols-1 max-sm:px-5">
  <div class="grid gap-5 text-darkPinkText">
    <h1 class="font-extrabold text-3xl tracking-wide ">¡Encuentra a tu compañero de vida!</h1>
    <h2 class="font-medium text-xl leading-relaxed">Elegir un gato como compañero de vida te brinda una conexión
      emocional única, ya
      que su independencia se combina
      con
      momentos de cariño y lealtad, enriqueciendo tu vida con amor y compañía.</h2>
  </div>
</article>
<router-outlet />
