<app-header />
<div class="flex flex-col items-center justify-center min-h-screen pt-28 max-sm:mx-6 max-sm:pt-28">
  <h2 class="text-5xl font-extrabold text-darkPinkText text-center max-sm:text-4xl">Regístrate</h2>
  <form [formGroup]="userSiginForm" (ngSubmit)="onSubmit()"
    class="flex flex-col items-center justify-center pt-14 max-sm:py-8">

    <section class="grid grid-cols-3 gap-5 w-[80rem] max-sm:grid-cols-1 max-sm:w-full">

      <section class="h-10 ">
        <p class="titleStyle">Correo:</p>
        <input type="email" id="email" formControlName="email" class="inputStyle" placeholder="ejemplo@correo.com"
          required />
        @if(userSiginForm.get('email')?.hasError('required') && userSiginForm.get('email')?.touched){
        <div class="form-error text-red-600 font-medium pl-2 ">Oops! Correo requerido.</div>
        }
      </section>

      <section class="h-10 max-sm:mt-9">
        <p class="titleStyle">Nombre:</p>
        <input type="text" id="userName" formControlName="userName" class="inputStyle" placeholder="Nombre" required />
        @if(userSiginForm.get('email')?.hasError('required') && userSiginForm.get('userName')?.touched){
        <div class="form-error text-red-600 font-medium pl-2 ">Oops! Nombre requerido.</div>
        }
      </section>

      <section class="h-10 max-sm:mt-9">
        <p class="titleStyle">Apellido:</p>
        <input type="text" id="userLastName" formControlName="userLastName" class="inputStyle" placeholder="Apellido"
          required />
        @if(userSiginForm.get('userLastName')?.hasError('required') && userSiginForm.get('userLastName')?.touched){
        <div class="form-error text-red-600 font-medium pl-2 ">Oops! Apellido requerido.</div>
        }
      </section>

      <section class="h-10 mt-11">
        <p class="titleStyle">Contraseña:</p>
        <input type="password" id="password" formControlName="password" class="inputStyle" placeholder="•••••••••"
          required />
        @if (userSiginForm.get('password')?.hasError('required') && userSiginForm.get('password')?.touched) {
        <div class="form-error text-red-600 font-medium pl-2">Oops! Contraseña requerida.</div>
        }@else if(userSiginForm.get('password')?.hasError('minlength') && userSiginForm.get('password')?.touched){
        <div class="form-error text-red-600 font-medium pl-2">Oops! Minimo ingresa 6 caracteres.</div>
        }
      </section>

      <section class="h-10 mt-11">
        <p class="titleStyle">Tipo de Documento:</p>

        <select id="documentType" formControlName="documentType" class="selectStyle">
          <option selected>Choose a country</option>
          <option value="US">United States</option>
          <option value="CA">Canada</option>
          <option value="FR">France</option>
          <option value="DE">Germany</option>
        </select>
        @if(userSiginForm.get('documentType')?.hasError('required') && userSiginForm.get('documentType')?.touched){
        <div class="form-error text-red-600 font-medium pl-2">Oops! Selecciona un tipo de documento.</div>
        }
      </section>

      <section class="h-10 mt-11">
        <p class="titleStyle">Numero de Documento:</p>
        <input type="number" id="documentNumber" formControlName="documentNumber" class="inputStyle"
          placeholder="1000245321" required />
        @if(userSiginForm.get('documentNumber')?.hasError('required') && userSiginForm.get('documentNumber')?.touched){
        <div class="form-error text-red-600 font-medium pl-2">Oops! Número de documento requerido.</div>
        }
      </section>

      <section class="h-10 mt-11">
        <p class="titleStyle">Fecha Nacimiento:</p>
        <input type="date" id="userBirthdate" formControlName="userBirthdate" class=" inputStyle" required />
        @if(userSiginForm.get('userBirthdate')?.hasError('required') && userSiginForm.get('userBirthdate')?.touched){
        <div class="form-error text-red-600 font-medium pl-2">Oops! Fecha de nacimiento requerida.</div>
        }
      </section>

      <section class="h-10 mt-11">
        <p class="titleStyle">Ciudad de Residencia:</p>

        <select id="city" id="cityUser" formControlName="cityUser" class="selectStyle">
          <option selected>Choose a country</option>
          <option value="US">United States</option>
          <option value="CA">Canada</option>
          <option value="FR">France</option>
          <option value="DE">Germany</option>
        </select>
        @if(userSiginForm.get('cityUser')?.hasError('required') && userSiginForm.get('cityUser')?.touched){
        <div class="form-error text-red-600 font-medium pl-2">Oops! Ciudad requerida.</div>
        }
      </section>

      <section class="h-10 mt-11">
        <p class="titleStyle">Telefono:</p>
        <input type="number" id="phoneUser" formControlName="phoneUser" class="inputStyle" placeholder="3214567890"
          required />
        @if(userSiginForm.get('phoneUser')?.hasError('required') && userSiginForm.get('phoneUser')?.touched){
        <div class="form-error text-red-600 font-medium pl-2">Oops! Telefono requerido.</div>
        }
      </section>


      <section class="h-10 mt-11">
        <p class="titleStyle">Dirección de Residencia:</p>
        <input type="text" id="addressUser" formControlName="addressUser" class="inputStyle"
          placeholder="Calle 20 Norte # 20-40" required />
        @if(userSiginForm.get('addressUser')?.hasError('required') && userSiginForm.get('addressUser')?.touched){
        <div class="form-error text-red-600 font-medium pl-2">Oops! Dirección requerido.</div>
        }
      </section>

      <section class="h-10 mt-11">
        <p class="titleStyle">Ocupación:</p>

        <select id="occupationUser" formControlName="occupationUser" class="selectStyle">
          <option selected>Choose a country</option>
          <option value="US">United States</option>
          <option value="CA">Canada</option>
          <option value="FR">France</option>
          <option value="DE">Germany</option>
        </select>
        @if(userSiginForm.get('occupationUser')?.hasError('required') && userSiginForm.get('occupationUser')?.touched){
        <div class="form-error text-red-600 font-medium pl-2">Oops! Ocupación requerida.</div>
        }
      </section>


    </section>

    <button type="submit"
      class="mt-16 bg-lightPinkSecond border-2 border-lightPink py-2 px-8 rounded-lg font-bold text-darkPinkText hover:bg-lightPink hover:border-darkPinkText hover:text-white transition ease-in-out delay-150 hover:-translate-y-1">
      Regístrate
    </button>
  </form>
  <section class="flex items-center text-gray-400 pt-8 max-sm:pt-1">
    <hr class="border-gray-400 w-96 max-sm:w-36" />
    <p class="text-center txt-sm px-10">Ó</p>
    <hr class="border-gray-400 w-96 max-sm:w-36" />
  </section>
  <section class="text-base grid grid-cols-2 place-content-center text-center gap-8 py-5  text-darkPinkText">
    <p class="place-self-center">¿Ya tienes una cuenta? ¡Ingresa ahora!</p>
    <button
      class="py-2 px-5 text-darkPinkText bg-lightPinkSecond border-[1.2px] border-darkPinkText rounded-lg font-bold transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-100 hover:bg-darkPinkText hover:text-white w-36 place-self-center">
      <a href="/login"> Iniciar Sesión</a>
    </button>
  </section>
</div>
