@tailwind base;
@tailwind components;
@tailwind utilities;

#main::-webkit-scrollbar {
  width: 5px;
}

#main::-webkit-scrollbar-thumb {
  background: #660c44;
  border-radius: 50px;
}

section[id] {
  scroll-margin-top: 70px;
}

html {
  scroll-behavior: smooth;
}

@layer components {
  .inputStyle {
    @apply bg-gray-50 border border-pink-900 text-lg rounded-full block p-[6px] focus:outline-none focus:ring focus:ring-pink-100 text-center w-full;
  }
  .selectStyle {
    @apply text-center bg-gray-50 border border-pink-900 text-lg rounded-full focus:outline-none focus:ring focus:ring-pink-100 block w-full p-[6px];
  }
  .titleStyle {
    @apply text-lg font-bold text-darkPinkText pb-2;
  }
}
